body {
    background-color: #a1d3e1;
    font-family: "Viga", sans-serif;
    font-size: 2rem; 
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
  }
h1 {
    font-size: 3rem; 
    margin: 1rem;
  }
p {
    color: #FFFFFF;
    font-family: "Viga", serif;
    font-size: 2rem;
    margin: 1rem;
  }
img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
  }
a:link {
    color: #FFFFFF;
  }

a:visited {
    color: #CFFBFD;
  }

a:hover {
    color: #6C989A;
  }

a:active {
    color: #A8E8E8;
  }
ul {
   list-style-type: none;
   margin: 0;
    padding: 0;
  }
.sidenav {
   height: 100%;
   width: 0; 
   position: fixed; 
   z-index: 1; 
   top: 0; 
   left: 0;
   background-color: #5cd2f3; 
   overflow-x: hidden; 
   padding-top: 60px; 
   transition: 0.5s; 
  }
.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #ffffff;
   display: block;
   transition: 0.3s;
  }
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1.5rem;
  }
.svg-img {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50);
    cursor: pointer;
    width: 50px;
    height: auto;
  }
#main {
   transition: margin-left .5s;
   padding: 20px;
  }
@media (max-width: 600px) {
    body {
      font-size: 1.5rem; 
    }
    h1 {
      font-size: 2rem; 
    }
    p {
      font-size: 1.2rem; 
    }
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
    .svg-img {
      top: 1rem;
      left: 1rem;
      width: 3rem;
    }
  }
@media (min-width: 1024px) {
    body {
      font-size: 2.5rem;
    }
    h1 {
      font-size: 4rem; 
    }
    p {
      font-size: 2rem;
    }
    .svg-img {
      top: 2rem;
      left: 5rem;
      width: 4rem; 
    }
  }